/*
 * style the list
 * for OL you can have
 * decimal | lower-roman | upper-roman | lower-alpha | upper-alpha
 * for UL you can have
 * disc | circle | square or an image eg url(x.png)
 * you can also have 'none'
 */
ol.lotto-list {
  list-style-type: decimal;
}


ol.lotto-list li{
  float:left;
  margin-left:15px;
  width: 100px;
}


.invisible {display:none;}

.group{float:left; margin-left:10px; height: 1px;}
.group1{width:142px}
.group5{width:60px;}

.group span{padding:4px;}