#box{
width:100%;
text-align:center;
}

#article_table
{
border-collapse:collapse;
background:#FFFFFF;
margin: auto;
text-align:left
}
#article_table table, #article_table td, #article_table th
{
border:1px solid black;
}
#article_table img{margin:10px;  border: 0 none;}
#pager img{margin:1px;  border: 0 none;}
#article_table a, #pager a{text-decoration: none;}
.a-center { text-align: center;}

#popup_a
{
 position:absolute; 
 background:#fff;
 border: 8px solid #ccc;
 width:400px;
 display:none;
 z-index:999;
}

#popup_a b{
    clear: left;
    float: left;
    width: 120px;
}

#popup_a .input{
    height:30px;
	margin-left: 20px;
}

#ascrape{
 cursor:pointer; 
 float:right; 
 width:23px;
}

#a_close{
 float:right;
 cursor:pointer; 
}
#a_message, #a_message_2{margin-left: 20px;  margin-bottom: 20px;}
#a_message_2{display:none}

input, option, select {border:1px solid #ccc!important;}